In [7]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from pydataset import data

In [8]:
mpg = data('mpg')

In [10]:
mpg['average_mileage'] = (mpg.cty + mpg.hwy) / 2

In [12]:
mpg.groupby('manufacturer').average_mileage.mean().sort_values(ascending=False)

manufacturer
honda         28.500000
volkswagen    25.074074
hyundai       22.750000
subaru        22.428571
audi          22.027778
toyota        21.720588
pontiac       21.700000
nissan        21.346154
chevrolet     18.447368
ford          16.680000
mercury       15.625000
jeep          15.562500
dodge         15.540541
lincoln       14.166667
land rover    14.000000
Name: average_mileage, dtype: float64

In [13]:
mpg.groupby('manufacturer').average_mileage.mean().idxmax()

'honda'

In [14]:
mpg.groupby('manufacturer')[['cty','hwy','average_mileage']].mean().sort_values(by='average_mileage', ascending=False)

                    cty        hwy  average_mileage
manufacturer
honda         24.444444  32.555556        28.500000
volkswagen    20.925926  29.222222        25.074074
hyundai       18.642857  26.857143        22.750000
subaru        19.285714  25.571429        22.428571
audi          17.611111  26.444444        22.027778
toyota        18.529412  24.911765        21.720588
pontiac       17.000000  26.400000        21.700000
nissan        18.076923  24.615385        21.346154
chevrolet     15.000000  21.894737        18.447368
ford          14.000000  19.360000        16.680000
mercury       13.250000  18.000000        15.625000
jeep          13.500000  17.625000        15.562500
dodge         13.135135  17.945946        15.540541
lincoln       11.333333  17.000000        14.166667
land rover    11.500000  16.500000        14.000000

In [15]:
multi_models= mpg.groupby(['manufacturer','model'])[['hwy']].mean()

In [17]:
multi_models.head(10)

                                       hwy
manufacturer model
audi         a4                  28.285714
             a4 quattro          25.750000
             a6 quattro          24.000000
chevrolet    c1500 suburban 2wd  17.800000
             corvette            24.800000
             k1500 tahoe 4wd     16.250000
             malibu              27.600000
dodge        caravan 2wd         22.363636
             dakota pickup 4wd   17.000000
             durango 4wd         16.000000

In [18]:
mpg.manufacturer.nunique()

15

In [19]:
mpg.manufacturer.describe()

count       234
unique       15
top       dodge
freq         37
Name: manufacturer, dtype: object

In [20]:
mpg.trans.value_counts()

auto(l4)      83
manual(m5)    58
auto(l5)      39
manual(m6)    19
auto(s6)      16
auto(l6)       6
auto(av)       5
auto(s5)       3
auto(s4)       3
auto(l3)       2
Name: trans, dtype: int64

In [ ]:
mpg['trans_category'] = np.where(mpg.trans.str.startswith('a'), 'auto', 'manual')