In [4]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('cust_det.csv')

In [ ]:
df

In [ ]:
m2m = df.loc[df['contract_type'] == 0]

In [ ]:
df.groupby(['contract_type','is_senior_citizen']).count()

In [ ]:
df = pd.read_csv('cust_details.csv')

In [ ]:
df

In [5]:
df = pd.read_csv('copy.csv')

In [7]:
df.tenure

0        9.044207
1        9.055092
2        3.800406
3       12.631122
4        3.187128
          ...
7044    13.470535
7045    22.017626
7046     1.843936
7047    68.204127
7048    62.840678
Name: tenure, Length: 7049, dtype: float64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customer_id             7043 non-null   object
 1   gender                  7049 non-null   object
 2   is_senior_citizen       7049 non-null   int64
 3   partner                 7049 non-null   object
 4   dependents              7049 non-null   object
 5   phone_service           7049 non-null   int64
 6   internet_service        7049 non-null   int64
 7   contract_type           7049 non-null   int64
 8   payment_type            7049 non-null   object
 9   monthly_charges         7049 non-null   float64
 10  total_charges           7038 non-null   float64
 11  churn                   7049 non-null   object
 12  tenure                  7049 non-null   float64
 13  tenure-rounded          7049 non-null   float64
 14  is_female               7049 non-null   bool
 15  has_churned             7049 non-null   bool
 16  has_phone               7049 non-null   bool
 17  has_internet            7049 non-null   bool
 18  has_phone_and_internet  7049 non-null   bool
 19  partner_dependents      7049 non-null   int64
 20  start_date              7049 non-null   object
 21  avg_mon_charges         7049 non-null   object
 22  Contract_type           7049 non-null   object
 23  Phone_service           7049 non-null   object
 24  Internet_service        7049 non-null   object
 25  is_ten_less12           7049 non-null   bool
 26  Pivot Info              7049 non-null   object
 27  Unnamed: 27             0 non-null      float64
 28  Unnamed: 28             3 non-null      object
dtypes: bool(6), float64(5), int64(5), object(13)
memory usage: 1.3+ MB

In [11]:
df.groupby(['Contract_type']).monthly_charges.agg(['mean'])

                     mean
Contract_type
1 Year          65.061721
2 Year          60.722422
Month-to-Month  66.389229

In [12]:
df.groupby(['Contract_type']).tenure.agg(['mean'])

                     mean
Contract_type
1 Year          42.029675
2 Year          56.785700
Month-to-Month  18.019748

In [20]:
df.groupby(['Contract_type']).has_phone_and_internet.agg(['count'])

                count
Contract_type
1 Year           1476
2 Year           1697
Month-to-Month   3876

In [21]:
df.Contract_type.value_counts()

Month-to-Month    3876
2 Year            1697
1 Year            1476
Name: Contract_type, dtype: int64