In [1]:
import pandas as pd

In [2]:
series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [3]:
series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [4]:
fruits = series
print(fruits)

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [5]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [13]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [7]:
fruits.value_counts()

kiwi                4
mango               2
tomato              1
watermelon          1
gooseberry          1
gala apple          1
papaya              1
honeycrisp apple    1
blackberry          1
pineapple           1
honeydew            1
strawberry          1
blueberry           1
dtype: int64

In [10]:
fruits.mode()

0    kiwi
dtype: object

Determine the least frequently occurring fruit name from the series.

In [11]:
fruits.min()

'blackberry'

In [18]:
fruits.value_counts().nsmallest(keep="all")

tomato              1
watermelon          1
gooseberry          1
gala apple          1
papaya              1
honeycrisp apple    1
blackberry          1
pineapple           1
honeydew            1
strawberry          1
blueberry           1
dtype: int64

Write the code to get the longest string from the fruits series.

In [25]:
str = max(fruits, key=len)
str

'honeycrisp apple'

Find the fruit(s) with 5 or more letters in the name.

In [30]:
fruits[fruits.str.len() > 4]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

Capitalize all the fruit strings in the series.

In [34]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

Count the letter "a" in all the fruits (use string vectorization)

In [35]:
fruits.str.count("a")

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

Output the number of vowels in each and every fruit.

In [39]:
fruits.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

Use the .apply method and a lambda function to find the fruit(s) containing two or more "o" letters in the name.

create a lambda function to find true and false values of whether or not each word has more than one o. Then wrap that inside the fruits object to get the values

In [42]:
two_or_more = fruits[fruits.apply(lambda x: x.count('o') > 1)]

In [43]:
two_or_more

6         tomato
15    gooseberry
dtype: object

Write the code to get only the fruits containing "berry" in the name

In [56]:
with_berry = fruits[fruits.str.find('berry') != -1]
with_berry

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

Write the code to get only the fruits containing "apple" in the name

In [57]:
with_apple = fruits[fruits.str.find('apple') != -1]
with_apple

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

Which fruit has the highest amount of vowels?

In [ ]:
fruits.str.cou